<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>
<ul>
  <% @person.phone_numbers.each do |phone| %>
    <li><%= phone.number %> <%= link_to('edit', edit_phone_number_path(phone)) %></li>
    <%= link_to('delete', phone_number_path(phone), :method => "delete") %>

  <% end %>

  <% @person.email_addresses.each do |email| %>
    <li><%= email.address %> <%= link_to('edit', edit_email_address_path(email)) %></li>
    <%= link_to('delete', email_address_path(email), :method => "delete") %>

  <% end %>

</ul>

<%= link_to 'Add phone number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %> 
<%= link_to 'Add email address', new_email_address_path(person_id: @person.id) %> 

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
